@import "../../global.scss";

.about{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  

  @include mobile{
    flex-direction: column;
  }

  .skills{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      font-size: 1.1rem;
      text-align: center;
    
    @include mobile{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .main-about{
    width: 80%;
    background: $maincolor;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    margin: 2rem;
    text-align: justify ;
    font-size: 1.1rem;
  }
}