@import "../../global.scss";

.works{
    background-color: $maincolor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1{
        font-size: 2rem;
        position: absolute;
        top: 70px;

        @include mobile{
            top: 20px;
        }
    }

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left{
            left: 100px;
            transform: rotate(180deg);
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    width: 80%;
                    height: 150px;
                    margin: 15px 0;
                }

                .left{
                    flex:4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        h2{
                            font-size: 2rem;

                            @include mobile{
                                font-size: 1.5rem;
                            }
                        }
                        p{
                            font-size: 1rem;
                            text-align: center;

                            @include mobile{
                                display: none;
                            }
                        }
                        .buttons{
                            font-size: 1rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 1rem;
                            
                            
                            button{
                                border: none;
                                padding: 0.8rem;
                                border-radius: 0.5rem;
                                display: flex;
                                align-items: center;
                                gap: 0.7rem;
                                color: #fff;
                                cursor: pointer;
                                
                                a{
                                    text-decoration: none;
                                    color: #fff;
                                }
                            }

                            button:first-child{
                                background-color:#455a64;
                            }

                            button:last-child{
                                background-color: #577CE0;
                            }
                        }
                    }
                    
                }
                .right{
                    flex: 6;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;   
                    overflow: hidden;

                    img{
                        width: 400px;
                    }
                }

            }
        }
    }
}